<div id="<%= dom_id comment %>">
  <p>
    <strong>Comment:</strong>
    <%= comment.comment %>
  </p>

  <p>
    <strong>Ticket:</strong>
    <%= comment.ticket_id %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= comment.created_by %>
  </p>

</div>
