<div id="<%= dom_id comment %>">
  <p>
    <strong>Comment text:</strong>
    <%= comment.comment_text %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= comment.created_by %>
  </p>

  <p>
    <strong>Bug:</strong>
    <%= comment.bug_id %>
  </p>

</div>
